@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    box-sizing: border-box;
}

input {
    margin: 3px;
    border: 2px solid lightgray;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(24, 24, 24);
    color: rgb(0, 0, 0);
}

#content {
    width: 70%;
    margin: auto auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container {
    background-color: white;
    padding: 20px;
    margin: 10px;
    width: 80%;
    margin: auto auto;
    margin-top: 30px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
}

#imagearea img {
    width: 150px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    height: 150px;
}

#contentarea {
    width: 70%;
    margin-left: 10px;
}

#allcontent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

/* header */
#header {
    padding: 10px;
    margin: 0px;
    background-color: rgb(24, 97, 126);
    display: flex;
    justify-content: flex-end;
}

.text {
    display: block;
    color: rgb(39, 39, 39);
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 12px;
    transition: color 0.1s;
}

.text:hover {
    color: rgb(46, 120, 143);
    transition: color 0.1s;
}

/* Phone type, color and storage choosing */

#eventbutton {
    background: #ffffff;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(218, 218, 218);
    cursor: pointer;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
    transition: border 0.2s;
    margin-right: 30px;
}

#deleteButton {
    background: #c91a1a;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgb(218, 218, 218);
    cursor: pointer;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: white;
    font-weight: bold;
}

#deleteButton:hover {
    background: #c91a1a;
    color: #e6d5d5;

}

.delete {
    float: right;
} 